/* .B1{
    animation: animation1 2s ease-in-out;
    opacity: 0;
    z-index: 100;
} */

@keyframes animation1{
    0%{
        opacity: 1;
        bottom: 0vh;
    }
    100%{
        opacity: 1;
        bottom: 110vh;
    }
}